@using CustomerManagerWeb.Models.Helpers
@model CustomerManagerWeb.Models.Customer;
@{
    ViewBag.Title = "Cadastrar Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-group">
    <div class="form-group">
        <a href="@Url.Action("Index", "Customer")" class="btn btn-info">Voltar para a lista</a>
    </div>
</div>

<div style="padding:20px">
    <h2>Novo Cliente</h2>

    @using (Html.BeginForm("Create", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Nome:")
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, "Email:")
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group" style="margin-top:5px">
            <img id="imageDisplay" class="img-thumbnail" style="max-width: 200px; max-height: 200px;" />
        </div>

        <div class="form-group">
            <label asp-for="ImageFile">Logotipo</label>
            <input asp-for="ImageFile" type="file" class="form-control" onchange="showImage(this)" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>

        <div class="form-group" style="margin-top:10px">
            <input type="submit" value="Cadastrar" class="btn btn-primary" />
        </div>
    }
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#imageDisplay').hide();
    });

    function showImage(input) {
        var imageDisplay = document.getElementById('imageDisplay');

        if (input.files && input.files[0]) {
            var leitor = new FileReader();

            leitor.onload = function (e) {
                imageDisplay.src = e.target.result;
            }

            leitor.readAsDataURL(input.files[0]);
                
        }
        $('#imageDisplay').show();
    }
</script>