@using CustomerManagerWeb.Models.Helpers
@model CustomerManagerWeb.Models.Address;
@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group">
    <a href="@Url.Action("Details", "Customer", new { id = Model.CustomerId })" class="btn btn-info">Voltar para a lista</a>
</div>

<div style="padding:20px">

    <h2>Detalhes de endereço</h2>

    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.CustomerId)
    
    <div class="form-group">
        @Html.LabelFor(model => model.Name, "Logradouro:")
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    
</div>